<table>
  <tbody>
    <tr>
      <td>
        <% if @user.avatar.attached? %>
          <%= image_tag(@user.avatar, :size => "220x300", class: "css-style") %>
        <% end %>
      </td>
      <td></td><td></td><td></td><td></td><td></td><td></td><td>
      <td>
      <table>
        <thead>
        <h1 style="font-size:3rem">Your Profile</h1>
        </thead>
        <tr>
         <td><strong>Name</strong></td>
          <td><%= @user.name %></td>
        </tr>

        <tr>
          <td><strong>Email address</strong></td>
          <td><%= @user.email %></td>
        </tr>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_user_registration_path(@users) %> |
<%= link_to "Back", animes_path %>
    