<h1> Your Profile</h1>

<table>
  <tbody>
    <tr>
      <td>
        <% if @user.avatar.attached? %>
          <%= image_tag(@user.avatar, :size => "220x300", class: "css-style") %>
        <% end %>
      </td>
      <td></td><td></td><td></td><td></td><td></td><td></td><td>
      <td>
        <p>
          <strong>Name:</strong>
          <%= @user.name %>
        </p>

        <p>
          <strong>Name:</strong>
          <%= @user.email %>
        </p>
        
      </td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_user_registration_path(@users) %> |
<%= link_to "Back", animes_path %>
    