<p id="notice"><%= notice %></p>

<table>

<tr>
  <td>
    <% if @anime.image.attached? %>
      <%= link_to @anime.url, target: :_blank do %>
        <%= image_tag(@anime.image, :size => "280x380", class: "css-style") %>
      <% end %>
    <% end %>
  </td>

  <td></td><td></td><td></td><td></td><td></td><td></td><td>

  <td>
    <table>
      <thead>
      <h1 style="font-size:2rem">ANIME INFORMATION</h1>
      </thead>
      <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
      <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
      <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
      <tr>
        <td><strong>Title</strong></td>
        <td><%= @anime.title %></td>
      </tr>
      <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
      <tr>
        <td><strong>Author</strong></td>
        <td><%= @anime.author %></td>
      </tr>
      <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
        <td><strong>Producer</strong></td>
        <td><%= @anime.producer %></td>
      </tr>
      <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
      <tr>
        <td><strong>Release</strong></td>
        <td><%= @anime.release %></td>
      </tr>
      <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
      <tr>
        <td><strong>Genre</strong></td>
        <td><%= @anime.genre %></td>
      </tr>
      <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
      <tr>
        <td><strong>URL</strong></td>
        <td><%= @anime.url %><td>
      </tr>
      <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
      <tr>
        <td><strong>Detail</strong></td>
        <td><%= @anime.detail %></td>
      </tr>  
      <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
    </table>
  </td>

  <td></td><td></td><td></td><td></td><td></td>
  <td></td><td></td><td></td><td></td><td></td>

  <td>
    <h2><%= link_to "Comment List", anime_comments_path %></h2>
    <table>
        <tr>
          <td>User</td>
          <td></td><td></td><td></td><td></td><td></td>
          <td>Comment</td>
        </tr>

        <tbody>
          <% @anime.anime_comment.each do |list| %>
            <tr>
              <td><%= list.user.name if list.user_id %></td>
              <td></td><td></td><td></td><td></td><td></td>
              <td><%= list.comment %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  
      <h2>Comment Form</h2>
      <%= form_with(model: @anime_comment, local: true) do |form| %>
        <div class= "field">
          <%= form.text_area :comment, class: "input" %>
          <%= form.hidden_field :anime_id, :value => @anime.id %>
        </div>
        <div class="actions">
          <%= form.submit "Add comment", class: "actions" %>
        </div>
      <% end %>
    </td>
  
    <td></td>
    <td></td>
  </tr>
  
  </table>
  
  <%= link_to 'Edit', edit_anime_path(@anime) %> |
  <%= link_to 'Back', animes_path %>