<!DOCTYPE html>
<html>
  <head>
    <title>Anime</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="banner">
  <ul>
  <li><h1><%= link_to "ホームページ", root_path, class:"button1" %></h1></li>
  <% if user_signed_in? %>
      <li><h3> Hi, <%= link_to current_user.name, users_show_path, class:"button1" %><h3></li>
      <li style="float:right"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "button" %></li>
  <% else %>
  <div style="float:right">
    <li><h1><%= link_to "ログイン", new_user_session_path, class: "button1" %></h1></li>
    <li><h1><%= link_to "ユーザ登録", new_user_registration_path, class: "button2" %></h1></li>
  <div>
  <% end %>
</ul>
</div>
 
    <%= yield %>
  </body>
</html>
